:root {
    --font: poppins, sans-serif;
}

.navbar {
    display: flex;
    font-family: var(--font);
    position: sticky;
    box-sizing: border-box;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: 16vw;
    margin-top: 4vh;
}
ul li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    color: rgb(252, 134, 0);
}
.active-li {
    color: rgb(252, 134, 0);
    text-decoration: underline ;
    text-underline-offset: 1vh;
}
.logo img{
    height: 13vh;
    padding: 0;
    padding: 0;
}
.logo {
    display: flex;
    gap: 17px;
    margin: 0;
}
.logo1 {
    margin-left: 5vw;
}